.container {
    text-align: center;
    width: 50em;
    border: 1px black solid;
    padding-bottom: 100px;
    padding-top: 100px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 18%;
    margin-bottom: 18%;
}

#main-page {

}

#first-page {

}